h1{
    color: gold;
}
h1:hover{
    color: cyan;
    /*border: 10px;*/
    border-style: dotted;
}
.work{
    color: burlywood;
    background-color: brown;
}
.work:hover{
    color: brown;
    background-color: burlywood;
}
.heading:hover{
    font-size: large;
    color: yellow;
}